as aspas da senha do seu db, e a jwt secret são ilutrativas, não coloque no seu projeto aspas se não vai dar errado.

DB_NAME=raizes_nordeste
DB_USERNAME=root
DB_PASSWORD="senha do seu db"

SERVER_PORT=8090

# Gere uma string aleatoria longa (min. 32 caracteres) para o segredo do JWT
JWT_SECRET="string grande e aleatória"
JWT_EXPIRATION_MS=3600000
